body {
    background-color: black;
    margin: 0; /* 바디 마진 제거 */
    color: white;
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    height: 100vh; /* 전체 뷰포트 높이 */
    /* 페이드인 */
    opacity: 0;
    transition: opacity 1s ease-in; /* 부드러운 페이드 인 효과 */
}

.movie-detail {
    display: flex;
    flex-direction: row; /* 요소들을 수평으로 배치 */
    align-items: start; /* 세로축 시작점 정렬 */
    max-width: 90%; /* 전체 너비 제한 */
    margin: 20px auto; /* 중앙 정렬 및 마진 */
}

.poster > h1{
    width: 300px;
    word-wrap: break-word; /* 긴 단어를 줄바꿈 */
}

.poster img {
    max-width: 300px; /* 포스터 최대 너비 */
    margin-right: 50px; /* 포스터와 설명 사이의 여백 */
}

.info {
    max-height: 600px; /* 설명의 최대 높이 */
    width: 400px;
    word-wrap: break-word; /* 긴 단어를 줄바꿈 */
    overflow-y: auto; /* 세로 스크롤 활성화 */
    overflow-x: hidden; /* 가로 스크롤 비활성화 */
}


.back-button {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute; /* 절대 위치 */
    bottom: 20px; /* 화면 하단에서 20px 떨어진 곳에 위치 */
}

.back-button:hover {
    background-color: #333;
    transition: all 0.3s ease; /* 모든 변화에 대한 부드러운 전환 */
}

table {
    border-collapse: collapse; /* 테두리 겹침 제거 */
    width: 100%; /* 테이블 너비 */
    border: 1px solid white; /* 테이블 전체에 1px 흰색 테두리 적용 */
}

th, td {
    font-size: 0.7em;
    text-align: left; /* 왼쪽 정렬 */
    border: 1px solid white; /* 각 셀에 1px 흰색 테두리 적용 */
    padding: 8px; /* 셀 안의 여백 */
}
